apiVersion: v1
kind: Service
metadata:
  name: customer-api
  namespace: practice
  labels:
    app: customer-api
spec:
  selector: 
    app: customer-api
  ports:
  - port: 80
    targetPort: 8080